@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

/* .landing{
  background-color: red;
  max-width: 90.3vw;
  margin: auto;
} */

@media (max-width : 500px){
  .landing{
    max-width: 100vw;
    margin: 0px;
  }
}

/* .container:hover .content{
  transform: translateX(0);
}

.container:hover .img{
  transform: translateX(100%);
} */
